@import "../../variables.module.scss";

.compare-schedule {
  width: 100%;
  --numCols: 5;

  @media screen and (min-width: $screen-desktop) {
    display: grid;
    grid-template-columns: repeat(var(--numCols), 1fr);
  }

  .hide-gain-space {
    // @media screen and (max-width: $screen-smartphone-small) {
    display: var(--compact-display, table-row);
    // }
  }
}

.day-schedule-comparison {
  @media screen and (max-width: $screen-smartphone-small) {
    width: 100%;
  }

  border: black 1px solid;

  h3 {
    text-align: center;
  }

  table {
    width: 100%;
  }
}
