@import "../../variables.module.scss";

table.schedule {
  table-layout: fixed;

  .limit-height {
    @media screen and (min-width: $screen-desktop) {
      --rowSpan: 1;
      max-height: calc(var(--rowSpan) * 1.8em);
      overflow-x: hidden;
    }
  }

  td,
  th {
    $padding: 0.2em;
    padding-left: $padding;
    padding-right: $padding;
  }

  .title-time {
    width: 5ch;
    text-align: right;
  }
}

.activity-item {
  overflow: hidden;
  text-align: center;
}

.activity-item.available {
  background-color: $available;
}

.activity-item.not-available {
  background-color: $not-available;
  opacity: 0.4;

  @media screen and (min-width: $screen-desktop) {
    opacity: 0.1;
    transition: opacity 0.3s;
    table.schedule:hover & {
      opacity: 0.6;
    }
  }
}

.hide-on-mobile {
  @media screen and (max-width: $screen-smartphone-small) {
    display: none;
  }
}
