@import "../../variables.module.scss";

.group-selector {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $screen-smartphone-small) {
    flex-direction: column;
  }
  gap: 0.5em;
  flex-wrap: wrap;

  & > * {
    width: 100%;
  }
}
