/* ---------- Screen sizes ---------- */

$screen-desktop: 1200px;
$screen-smartphone-small: 360px;

$max-columns: 6;

/* ---------- Colors ---------- */

$bg-color: #fafafa;
$fg-color: #212121;
$link-color: #1565c0;

$bg-color-dark: #363434;
$fg-color-dark: #dadada;
$link-color-dark: #42a5f5;

$available: lightgreen;
$not-available: red;

/* ---------- Make variables accessible from JS files ---------- */

:export {
	maxColumns: $max-columns;
}
